{% extends 'base.html' %}

{% block body %}

   <div class="container-fluid" style="margin-top: 100px;">
      <div class="row justify-content-md-center">
         <div class="card text-center border-dark">
            <div class="card-header">
              <h4>KIRKLARELİ ÜNİVERSİTESİ ŞİKAYET VE ÖNERİ OTOMASYONU</h4>
            </div>
            <div class="card-body">
              <h6 class="card-title">Şikayet veya Öneri Oluşturun</h6>
              <p class="card-text">Herhangi bir konudaki şikayet ve önerinizi doğal dil işleme ile çalışan otomasyonumuz aracılığıyla bize iletebilirsiniz.</p>
              <a href="{% url 'accounts:login' %}" class="btn btn-dark">GİRİŞ YAP</a>
            </div>
            <div class="card-footer text-muted">
              2020 @ Created by Serkan Kocairi - Melih Özgüvenç 
            </div>
          </div>
      </div>     
   </div>

{% endblock %}