{% extends 'base.html' %}

{% block body %}
    
    <div class="container">
        <div class="row justify-content-md-center">
            <div class="col-md-auto col-sm-auto col-lg-auto" style="width: 100%; margin-top: 30px;">
                <div class="card">
                    
                    <div class="card-body">
                        <h4 class="card-title">{{complaint.title}}<small> {{complaint.created_date}}</small></h4>
                        <h6 class="card-title">Yazar: {{complaint.user.get_full_name}}</h6>
                        <p class="card-text">{{complaint.text|linebreaks}}</p>
                                                                        
                    </div>
                </div>
            </div>            
        </div>
    </div>
    

{% endblock %}